@charset "utf-8";
/* CSS Document */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#44C7E8;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-hede {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn a {
    text-decoratio: none; 
    color:black; 
}

.btn:hover {
    background-color: grey;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #bd2130;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
	background-color: antiquewhite;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #DD9596;
}

.table th {
    background-color: coral;
    color: #fff;
}

.table tr:hover {
    background-color: #28A6EC;
}
