


* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
    flex: 1.5; 
}

.logo-container a {
    text-decoration: none; 
}

.logo {
    font-size: 30px; 
    font-weight: bold; 
    color: #4dbf00; 
    
}

.menu-container {
  flex: 9;
}

.menu-list {
    list-style-type: none;
	display: flex;
    margin: 0;
    padding: 0;
}

.menu-list-item {
    display: inline-block;
    margin-right: 20px; 
}

.menu-list-item a {
    text-decoration: none;
    color: white; 
    font-size: 16px;
}

.menu-list-item a:hover {
    color: blue; 
}
.profile-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-text-container {
  margin: 0 10px;
	
}
.login-text {
	margin-right: 6px;
    font-size: 16px; 
    font-weight: bold;
    color: white; 
}

button {
    background-color: black; 
    border: none;
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer;
}

button a {
    text-decoratio: none; 
    color:chartreuse;
}


button a i {
    font-size: 20px; 
    color:aqua; 
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}




.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
    font-size: 24px;
    margin-bottom: 40px; 
    color: white;
}


.left-menu-icon:hover {
    color: royalblue; 
}


.fa-magnifying-glass:before {
    content: "\f002"; 
}

.fa-film:before {
    content: "\f008"; 
}

.fa-calendar:before {
    content: "\f073"; 
}

.fa-truck-fast:before {
    content: "\f48a"; 
}

.fa-ticket:before {
    content: "\f3ff"; 

}

.container {
  background-color: #151515;
  min-height: calc(200vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 40vh;
  padding: 40px;
}

.featured-title {
 width: 100px; 
    height: inherit;
}

.featured-desc {
  width: 400px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00; 
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.featured-button a {
  color: white;
  text-decoration: none;
	font-weight: bold;
}
.movie-list-container {
  padding: 10 30px;
	margin: 50px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button a {
    color: black;
    text-decoration: none;
}

.movie-list-item-button:hover {
    background-color: #D5B0B1; 
}



.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}







